body {
  margin: 0;
  background-color: #f5f6f8;
}

.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  min-height: 100vh;
  background-color: #212529;
  color: white;
  flex-shrink: 0;
  transition: 0.3s;
}

.sidebar.open {
  width: 230px;
}

.sidebar.closed {
  width: 0;
  padding: 0 !important;
  overflow: hidden;
}

/* Main content */
.main-content {
  flex: 1;
  min-width: 0;
  padding: 30px;
}

/* Toggle button */
.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;

  width: 40px;
  height: 40px;

  border: none;
  border-radius: 5px;

  background-color: #0d6efd;
  color: white;

  font-size: 22px;
  cursor: pointer;
}

.sidebar h3 {
  white-space: nowrap;
  font-size: 24px;
  margin-left: 50px;
}



   /* Mobile Screen */
  

@media (max-width: 768px) {

  .dashboard-layout {
    display: block;
  }

  /* Sidebar becomes an overlay */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 230px;
    height: 100vh;
    min-height: 100vh;

    z-index: 1050;

    overflow-y: auto;
  }

  .sidebar.open {
    width: 230px;
  }

  .sidebar.closed {
    width: 0;
    padding: 0 !important;
    overflow: hidden;
  }

  /*complete screen */
  .main-content {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;

    padding: 70px 15px 20px;
  }

  /* Toggle remains above */
  .sidebar-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
  }

  .sidebar h3 {
    font-size: 20px;
    margin-left: 50px;
  }
}
